$gutter: 12px;

$grey-pale: rgba(240, 243, 245, 1);
$grey-light: rgb(201, 201, 201);
$grey-mid: #999;
$grey-dark: #484848;

// Primary colours

$blue: #244C62;
$purple: #795ACA;

// Secondary colours

$red: #D15249;
$teal: #36A58D;
$mid-blue: #317DA9;
$light-blue: #0096D2;
$yellow: #DCAA16;






// Social colours
$linkedin: #0976B4;
$facebook: #3B5998;
$instagram: #3F729B;
$twitter: #55ACEE;
$slideshare: #F08C1E;

// layout

.l-wrap {
  max-width: 1400px;
  margin: auto;
  padding: 0 1em;
}

