<article class="page">
  <header class="page--header">
    <div class="l-wrap">
      <h1 class="page--title"><%= Date.today.cwyear %></h1>
      <nav class="page--nav">
        <%= link_to "New project", new_project_path, class: "page--nav-item button button--small" %>
      </nav>
    </div>
  </header>
  <section class="page--content">
    <div class="project-planner" data-json-url="<%= projects_path(format: :json) %>">
      <div class="project-planner_details" data-bb-el="details">
        <%= render @projects.first %>
      </div>
      <div class="project-planner_canvas">
        <canvas id="project-planner" data-bb-el="canvas"></canvas>
      </div>
    </div>
  </section>
</article>