<article class="page">
  <header class="page--header">
    <h1 class="page--title"><%= Date.today.cwyear %></h1>
    <nav class="page--nav">
      <%#= link_to "New block", new_project_path, class: "page--nav-item" %>
    </nav>
  </header>
  <section class="page--content">
    <div class="project-planner" data-json-url="<%= projects_path(format: :json) %>">
      <canvas id="project-planner_weeks"></canvas>
      <canvas id="project-planner_projects"></canvas>
    </div>
    <div class="project-details js-project-details"></div>
  </section>
</article>