<section class="weeks">
  <% @weeks.each do |week| %>
    <div class="week position-<%= week.number %>">
      <div class="week-number"><%= week.number %></div>
      <div class="week-details" data-bb-el="week-details">
        <%= number_to_currency(week.fee, unit: "£") %>
      </div>
    </div>
  <% end %>
  <%= render @projects %>
</section>