
.project {
  h2 {
    margin: 0;
    height: 50px;
    line-height: 50px;
  }
}

.project--header {
  position: relative;
  padding: 0 1em;
}

.project--nav {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}


.project--details {
  padding: 1em;
}

.project--details_list {
  margin: 0 0 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  overflow: hidden;
  dt {
    display: inline-block;
    float: left;
    clear: both;
    font-weight: bold;
    &:after {
      content: ": ";
      margin-right: 0.5em;
    }
  }
  dd {
    float: right;
    margin: 0;
  }
  .inline {
    float: left;
    clear: none;
  }
  dd.inline {
    margin-right: 1em;
  }
}

.project--resources {
  .resource {
    height: 25px;
    line-height: 25px;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid $grey-light;
  }
  .resource-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
  }
  .resource--details {
    position: relative;
    background: rgba(255,255,255,0.4);
    overflow: hidden;
    padding: 0 0.5em;
  }
  .resource--name {
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }
  .resource--allocation {
    float: left;
  }
  .resource--fee {
    float: right;
  }


}
