
.weeks {
  min-height: $block-size * 12;
  border: 1px solid $grey-light;
  border-right: 0;
  padding-bottom: $block-size;
  position: relative;
}

.week {
  border-right: 1px dotted $grey-light;
  width: $block-size;
  position: absolute;
  top: 0; bottom: 0;
}

.week-number {
  position: absolute;
  bottom: 0;
  width: $block-size;
  height: $block-size;
  line-height: $block-size;
  text-align: center;
  border-top: 1px dotted $grey-light;
  background: $grey-pale;
}

.week-details {
  z-index: 100;
  position: absolute;
  bottom: -20px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: $grey-mid;
  border: 1px solid $grey-dark;
  display: none;
  color: $grey-pale;
  .week:hover & {
    display: block;
  }
}
