
@mixin caps() {
  text-transform: uppercase;
  font-weight: bold;
}
@mixin small-caps() {
  @include caps();
  font-size: 0.768em;
  line-height: 1.3;
}

// Layout

.app {
  overflow: hidden;
}

.app--messenger {
  position: fixed;
  top: 10px;
  left: 0;
  right: 100%;
  width: 100%;
  text-align: center;
}
.app--messenger_message {
  display: inline-block;
  background: pink;
  margin: auto;
}

.app--content {
  max-width: 1400px;
  margin: auto;
}