
@mixin page-title {
  font-size: em(48);
  letter-spacing: -0.03em;
}

@mixin sub-title {
  @include font-brown;
  font-size: em(23);
  letter-spacing: -0.02em;
}

@mixin body-copy {
  font-size: em(18);
}

strong {
  font-size: 600;
}

body {
  @include font-freight;
  color: $grey-dark;
}

h1, h2, h3, h4 {
  @include font-brown;
  letter-spacing: -0.02em;
}

h1 {
  @include page-title;
}

h2 {
  @include sub-title;
}

@mixin caps {
  @include font-brown;
  color: $grey-mid;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
}