
.button {
  @include unstyled_anchor;
  display: inline-block;
  background: rgba(255,255,255,0.3);
  @include body-copy;
  line-height: 1;
  padding: 0.5em;
  border-radius: 6px;
  border: 2px solid;
  font-weight: bold;
  @include transition(background 0.1s ease-in-out);
  &:hover {
    background: rgba(53,53,53,0.6);
    color: #fff;
  }
}

.button--small {
  font-size: 1em;
  padding: 0.25em;
}
